<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="sql.builder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="tfsAutoCheckInConfig" type="sql.builder.TFS.AutoCheckIn.Config.TFSAutoCheckInConfig, sql.builder"/>
  </configSections>
  <userSettings>
    <sql.builder.Properties.Settings>
      <setting name="skinName" serializeAs="String">
        <value />
      </setting>
      <setting name="workFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="testQueryS1" serializeAs="String">
        <value>ur_mat</value>
      </setting>
      <setting name="testQueryS2" serializeAs="String">
        <value />
      </setting>
      <setting name="testQueryS3" serializeAs="String">
        <value />
      </setting>
      <setting name="oldCompile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
    </sql.builder.Properties.Settings>
  </userSettings>
  <tfsAutoCheckInConfig>
    <folders>
      <folder name="$/root/main/all/" build-name="root\main.infoenergo.all"/>
      <folder name="$/root/kido.release/all/" build-name="root\lenenergo.kido.release.NEW">
        <!--<forbiddenProjects>
          <project name="sql.builder"/>
        </forbiddenProjects>-->
      </folder>
      <!--<folder name="$/root/xdev.kido/all/" build-name="root\xdev.kido">
        <forbiddenProjects>
          <project name="sql.builder"/>
        </forbiddenProjects>
      </folder>-->
		<!--<folder name="$/root/3.9.12.0/all/" build-name="root\3.9.12.0.infoenergo.all" gated-checkin="true">
        <forbiddenProjects>
          <project name="sql.builder"/>
        </forbiddenProjects>
      </folder>
      <folder name="$/root/3.9.13.0/all/" build-name="root\3.9.13.0.infoenergo.all" gated-checkin="true" />
      <folder name="$/root/3.9.14.0/all/" build-name="root\3.9.14.0.infoenergo.all" gated-checkin="true" />
	    <folder name="$/root/3.9.15.0/all/" build-name="root\3.9.15.0.infoenergo.all" gated-checkin="true" />
	    <folder name="$/root/3.9.16.0/all/" build-name="root\3.9.16.0.infoenergo.all" gated-checkin="true" />
      <folder name="$/root/3.9.17.0/all/" build-name="root\3.9.17.0.infoenergo.all" gated-checkin="true" />
	    <folder name="$/root/3.9.14.0/all/" build-name="root\3.9.14.0.infoenergo.all" gated-checkin="true" />
      <folder name="$/root/3.9.18.0/all/" build-name="root\3.9.18.0.infoenergo.all" gated-checkin="true" />
	    <folder name="$/root/3.9.20.0/all/" build-name="root\3.9.20.0.infoenergo.all" gated-checkin="true" />
	    <folder name="$/root/3.9.21.0/all/" build-name="root\3.9.21.0.infoenergo.all" gated-checkin="true" />
	    <folder name="$/root/3.9.22.0/all/" build-name="root\3.9.22.0.infoenergo.all" gated-checkin="true" />
	    <folder name="$/root/3.9.23.0/all/" build-name="root\3.9.23.0.infoenergo.all" gated-checkin="true" />
      <folder name="$/root/3.9.24.0/all/" build-name="root\3.9.24.0.infoenergo.all" gated-checkin="true" />
      <folder name="$/root/3.9.25.0/all/" build-name="root\3.9.25.0.infoenergo.all" gated-checkin="true" />
      <folder name="$/root/3.9.26.0/all/" build-name="root\3.9.26.0.infoenergo.all" gated-checkin="true" />
      <folder name="$/root/3.9.27.0/all/" build-name="root\3.9.27.0.infoenergo.all" gated-checkin="true" />-->
      <folder name="$/root/3.9.28.0/all/" build-name="root\3.9.28.0.infoenergo.all" gated-checkin="true" />
      <folder name="$/root/3.9.29.0/all/" build-name="root\3.9.29.0.infoenergo.all" gated-checkin="true" />
      <folder name="$/root/tgk.release/all/" build-name="root\tgk.teplo.release" />
    </folders>
    <projects>
      <project name="sql.builder" selected="true"/>
      <project name="sql.builder.templates" selected="true">
        <takeServerPaths/>
        <takeLocalPaths>
          <path name="sql.builder/FormsCache/" />
          <path name="sql.builder/QubesCache/" />
          <path name="sql.builder/QueriesCache/" />
          <path name="sql.builder/asuse1.old.xml" />
          <path name="sql.builder/asuse2.old.xml" />
          <path name="sql.builder/dashboards.xml" />
          <path name="sql.builder/full.xml" />
          <path name="sql.builder/psk.old.xml" />
          <path name="sql.builder/servicedesk.old.xml" />
          <path name="sql.builder/teptes.old.xml" />
        </takeLocalPaths>
      </project>
      <project name="kido.Net/Main/frmMain.cs" />
      <project name="kido.Net/Main/frmMain.Designer.cs" />
      <project name="ipsupport.Net/frmMain.cs" />
      <project name="ipsupport.Net/frmMain.Designer.cs" />
      <project name="arbitrage.lib" />
      <project name="reports.TemplateEditor.Util" />
      <project name="fin.reports.Net" />
      <project name="fin.reports.lib" />
      <project name="reports.word" />
    </projects>
  </tfsAutoCheckInConfig>
</configuration> 