<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="fastreport-gitlab" value="http://gitlab.infoenergo.loc/api/v4/projects/453/packages/nuget/index.json" allowInsecureConnections="true"/>
	</packageSources>
	<packageSourceCredentials>
		<fastreport-gitlab>
			<add key="Username" value="gitlab+deploy-token-5" />
			<add key="ClearTextPassword" value="gldt-9EnMDjLTh_vXP2wTW6z1" />
		</fastreport-gitlab>
	</packageSourceCredentials>
</configuration>
